<h1>XRP Payment</h1>
<form id="theForm">
  <button type="button" class="btn btn-block btn-action" onClick="getAccountsFromSeeds()">Get Accounts From Seeds</button>
  <br/>
  <textarea id="seeds" cols="40" rows= "1"></textarea>
  <br/><br/>
  <table>
      <td>
        <table>
          <tr valign="top">
            <td>
            <td>
              <table>
                <tr valign="top">
                  <td align="right">
                    customer Account
                  </td>
                  <td>
                    <input type="text" id="customerAccountField" size="40"/>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    Public Key
                  </td>
                  <td>
                    <input type="text" id="customerPubKeyField" size="40"/>
                    <br>
                  </td>
                </tr> //Public Key
                <tr>
                  <td align="right">
                    Seed
                  </td>
                  <td>
                    <input type="text" id="customerSeedField" size="40"/>
                    <br>
                  </td>
                </tr> //Seed
                <tr>
                  <td align="right">
                    XRP Balance
                  </td>
                  <td>
                    <input type="text" id="customerBalanceField" size="40"/>
                    <br>
                  </td>
                </tr> //Balance
                <tr>
                  <td align="right">
                    Amount
                  </td>
                  <td>
                    <input type="text" id="customerAmountField" size="40" value="100"/>
                    <br>
                  </td>
                </tr> //Amount
              </table>
              <p align="right">
                <textarea id="customerResultField" cols="80" rows="20" ></textarea>
              </p>
            </td>
            <td>
              <table>
                <tr valign="top">
                  <td align="center" valign="top">
                    <button type="button" onClick="sendXRP()">Send XRP&#62;</button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
  </table>
</form>
