<h1>XRP Payment</h1>
<form id="theForm">
  <button type="button" class="btn btn-block btn-action" onClick="getAccountsFromSeeds()">Get Account From Seeds</button>
  <input
    id="seeds"
    class="form-control"
    formControlName="Seed"
    type="text"
    placeholder="Enter Seed"
  />

  <table align="center">
                <tr valign="top">
                  <td align="right">
                    customer Account
                  </td>
                  <td>
                    <input
                      id="customerAccountField"
                      class="form-control"
                      formControlName="Account"
                      type="text"
                      placeholder="Enter Your Account"
                    />
                  </td>
                </tr><!--Account -->
                <tr>
                  <td align="right">
                    Public Key
                  </td>
                  <td>
                    <input
                      id="customerPubKeyField"
                      class="form-control"
                      formControlName="PubKey"
                      type="text"
                      placeholder="Enter PubKey"
                    />
                  </td>
                </tr> <!--Public Key -->
                <tr>
                  <td align="right">
                    Seed
                  </td>
                  <td>
                    <input
                      id="customerSeedField"
                      class="form-control"
                      formControlName="costumerSeed"
                      type="text"
                      placeholder="Enter Seed Number"
                    />
                  </td>
                </tr> <!--Seed -->
                <tr>
                  <td align="right">
                    XRP Balance
                  </td>
                  <td>
                    <input
                      id="customerBalanceField"
                      class="form-control"
                      formControlName="Balance"
                      type="text"
                      disabled
                    />
                  </td>
                </tr> <!--Balance -->
                <tr>
                  <td align="right">
                    Amount
                  </td>
                  <td>
                    <input
                      id="customerAmountField"
                      class="form-control"
                      formControlName="Amount"
                      type="text"
                      value="56.99"
                      disabled
                    />

                  </td>
                </tr> <!--Amount -->
              </table>

  <button type="button" class="btn btn-block btn-primary" onClick="sendXRP()">Send XRP&#62;</button>
</form>
